<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE configuration-->
<!--        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"-->
<!--        "https://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!--<configuration>-->

<!--    <properties resource="org/mybatis/example/config.properties">-->
<!--&lt;!&ndash;        <property name="username" value="dev_user"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="password" value="F2Fa3!33TYyg"/>&ndash;&gt;-->
<!--    </properties>-->

<!--    <typeAliases>-->
<!--        <typeAlias alias="UmsAdmin" type="cn.wwinter.malladmin.model.entity.admin.UmsAdmin"/>-->
<!--        <typeAlias alias="PmsBrand" type="cn.wwinter.malladmin.model.entity.brand.PmsBrand"/>-->
<!--        <typeAlias alias="WebLog" type="cn.wwinter.malladmin.model.entity.log.WebLog"/>-->
<!--        <typeAlias alias="CmsPreferenceAreaProductRelation" type="cn.wwinter.malladmin.model.entity.product.CmsPreferenceAreaProductRelation"/>-->
<!--        <typeAlias alias="CmsSubjectProductRelation" type="cn.wwinter.malladmin.model.entity.product.CmsSubjectProductRelation"/>-->
<!--        <typeAlias alias="PmsMemberPrice" type="cn.wwinter.malladmin.model.entity.product.PmsMemberPrice"/>-->
<!--        <typeAlias alias="PmsProduct" type="cn.wwinter.malladmin.model.entity.product.PmsProduct"/>-->
<!--        <typeAlias alias="PmsProductAttributeCategory" type="cn.wwinter.malladmin.model.entity.product.PmsProductAttributeCategory"/>-->
<!--        <typeAlias alias="PmsProductAttributeValue" type="cn.wwinter.malladmin.model.entity.product.PmsProductAttributeValue"/>-->
<!--        <typeAlias alias="PmsProductCategory" type="cn.wwinter.malladmin.model.entity.product.PmsProductCategory"/>-->
<!--        <typeAlias alias="PmsProductFullReduction" type="cn.wwinter.malladmin.model.entity.product.PmsProductFullReduction"/>-->
<!--        <typeAlias alias="PmsProductLadder" type="cn.wwinter.malladmin.model.entity.product.PmsProductLadder"/>-->
<!--        <typeAlias alias="PmsSkuStock" type="cn.wwinter.malladmin.model.entity.product.PmsSkuStock"/>-->
<!--    </typeAliases>-->

<!--&lt;!&ndash;    <environments default="development">&ndash;&gt;-->
<!--&lt;!&ndash;        <environment id="development">&ndash;&gt;-->
<!--&lt;!&ndash;            <transactionManager type="JDBC"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <dataSource type="POOLED">&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="driver" value="${driver}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="url" value="${url}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="username" value="${username}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="password" value="${password}"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </dataSource>&ndash;&gt;-->
<!--&lt;!&ndash;        </environment>&ndash;&gt;-->
<!--&lt;!&ndash;    </environments>&ndash;&gt;-->

<!--    <settings>-->
<!--        <setting name="cacheEnabled" value="true"/>-->
<!--        <setting name="lazyLoadingEnabled" value="true"/>-->
<!--        <setting name="aggressiveLazyLoading" value="true"/>-->
<!--        <setting name="multipleResultSetsEnabled" value="true"/>-->
<!--        <setting name="useColumnLabel" value="true"/>-->
<!--        <setting name="useGeneratedKeys" value="false"/>-->
<!--        <setting name="autoMappingBehavior" value="PARTIAL"/>-->
<!--        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>-->
<!--        <setting name="defaultExecutorType" value="SIMPLE"/>-->
<!--        <setting name="defaultStatementTimeout" value="25"/>-->
<!--        <setting name="defaultFetchSize" value="100"/>-->
<!--        <setting name="safeRowBoundsEnabled" value="false"/>-->
<!--        <setting name="safeResultHandlerEnabled" value="true"/>-->
<!--        <setting name="mapUnderscoreToCamelCase" value="false"/>-->
<!--        <setting name="localCacheScope" value="SESSION"/>-->
<!--        <setting name="jdbcTypeForNull" value="OTHER"/>-->
<!--        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>-->
<!--        <setting name="defaultScriptingLanguage" value="org.apache.ibatis.scripting.xmltags.XMLLanguageDriver"/>-->
<!--        <setting name="defaultEnumTypeHandler" value="org.apache.ibatis.type.EnumTypeHandler"/>-->
<!--        <setting name="callSettersOnNulls" value="false"/>-->
<!--        <setting name="returnInstanceForEmptyRow" value="false"/>-->
<!--        <setting name="logPrefix" value="exampleLogPreFix_"/>-->
<!--        <setting name="logImpl" value="SLF4J | LOG4J | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING"/>-->
<!--        <setting name="proxyFactory" value="CGLIB | JAVASSIST"/>-->
<!--        <setting name="vfsImpl" value="org.mybatis.example.YourselfVfsImpl"/>-->
<!--        <setting name="useActualParamName" value="true"/>-->
<!--        <setting name="configurationFactory" value="org.mybatis.example.ConfigurationFactory"/>-->
<!--    </settings>-->
<!--</configuration>-->