<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wwinter.mapper.CmsSubjectProductRelationMapper">

    <resultMap id="cmsSubjectProductRelationMapperResultMap"
               type="cn.wwinter.entity.CmsSubjectProductRelation">
        <id column="id" property="id"  jdbcType="BIGINT" javaType="Long"/>
        <result column="product_id" property="productId" jdbcType="BIGINT" javaType="Long"/>
        <result column="subject_id" property="subjectId" jdbcType="BIGINT" javaType="Long"/>
    </resultMap>

    <sql id="cmsSubjectProductRelationColumn">
        id,
        product_id,
        subject_id
    </sql>

    <!--批量新增回写主键支持-->
    <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cms_subject_product_relation (<include refid="cmsSubjectProductRelationColumn"/>) VALUES
        <foreach collection="list" separator="," item="item" index="index">
            #{item.id},
            #{item.productId},
            #{item.subjectId}
        </foreach>
    </insert>

</mapper>