<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wwinter.mapper.PmsBrandMapper">
    <resultMap id="pms_brand_resultMap" type="cn.wwinter.entity.PmsBrand">
        <id column="id" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="string"/>
        <result column="first_letter" property="firstLetter" jdbcType="VARCHAR" javaType="string"/>
        <result column="sort" property="sort" jdbcType="INTEGER" javaType="integer"/>
        <result column="factory_status" property="factoryStatus" jdbcType="VARCHAR" javaType="string"/>
        <result column="show_status" property="showStatus" jdbcType="VARCHAR" javaType="string"/>
        <result column="product_count" property="productCount" jdbcType="VARCHAR" javaType="string"/>
        <result column="product_comment_count" property="productCommentCount" jdbcType="VARCHAR" javaType="string"/>
        <result column="logo" property="logo" jdbcType="VARCHAR" javaType="string"/>
        <result column="big_pic" property="bigPic" jdbcType="VARCHAR" javaType="string"/>
        <result column="brand_story" property="brandStory" jdbcType="VARCHAR" javaType="string"/>
    </resultMap>

    <sql id="pms_brand_column">
        id,
        name,
        first_letter,
        sort,
        factory_status,
        show_status,
        product_count,
        product_comment_count,
        logo,
        big_pic,
        brand_story
    </sql>

    <!--批量新增回写主键支持-->
    <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_brand (<include refid="pms_brand_column"/>) VALUES
        <foreach collection="list" separator="," item="item" index="index">
            (
            #{item.id},
            #{item.name},
            #{item.firstLetter},
            #{item.sort},
            #{item.factoryStatus},
            #{item.showStatus},
            #{item.productCount},
            #{item.productCommentCount},
            #{item.logo},
            #{item.bigPic},
            #{item.brandStory}
            )
        </foreach>
    </insert>

    <select id="selectByKeyword" resultType="cn.wwinter.entity.PmsBrand">
        SELECT <include refid="pms_brand_column"/> FROM pms_brand
        <if test="keyword!=null">
            WHERE name LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <update id="updateShowStatusBatch">
        UPDATE pms_brand
        SET
        show_status = #{showStatus}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="updateFactoryStatusBatch">
        UPDATE pms_brand
        SET
        factory_status = #{factoryStatus}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
</mapper>