<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wwinter.mapper.UmsAdminMapper">

    <resultMap id="ums_admin_resultMap" type="cn.wwinter.entity.UmsAdmin">
        <id column="id" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="username" property="username" jdbcType="VARCHAR" javaType="string"/>
        <result column="password" property="password" jdbcType="VARCHAR" javaType="string"/>
        <result column="icon" property="icon" jdbcType="VARCHAR" javaType="string"/>
        <result column="email" property="email" jdbcType="VARCHAR" javaType="string"/>
    </resultMap>

    <sql id="ums_admin_column">
        id,
        username,
        password,
        icon,
        email
    </sql>

    <select id="selectByUsername" parameterType="string" resultType="cn.wwinter.entity.UmsAdmin">
        SELECT
        <include refid="ums_admin_column"/>
        FROM ums_admin
        WHERE
        username = #{username,javaType=String,jdbcType=VARCHAR};
    </select>

    <!--批量新增回写主键支持-->
    <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ums_admin (<include refid="ums_admin_column"/>) VALUES
        <foreach collection="list" separator="," item="item" index="index">
            (
            #{item.id,jdbcType=BIGINT},
            #{item.username,jdbcType=VARCHAR},
            #{item.password,jdbcType=VARCHAR},
            #{item.icon,jdbcType=VARCHAR},
            #{item.email,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>


    <select id="selectUmsAdminRole" resultType="java.lang.String" parameterType="java.lang.Long">
        SELECT ur.role_name
        FROM ums_admin ua
                 LEFT JOIN ums_admin_role uar on ua.id = uar.ums_admin_id
                 LEFT JOIN ums_role ur on uar.ums_role_id = ur.id
        WHERE ua.id = #{id}
    </select>
</mapper>