<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wwinter.mapper.UmsAdminRoleMapper">

    <resultMap id="ums_admin_role_resultMap" type="cn.wwinter.entity.UmsAdminRole">
        <id column="id" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="ums_admin_id" property="umsAdminId" jdbcType="BIGINT" javaType="Long"/>
        <result column="ums_role_id" property="umsRoleId" jdbcType="BIGINT" javaType="Long"/>
    </resultMap>

    <sql id="ums_admin_role_column">
        id,
        ums_admin_id,
        ums_role_id
    </sql>

    <!--批量新增回写主键支持-->
    <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ums_admin_role (<include refid="ums_admin_role_column"/>) VALUES
        <foreach collection="list" separator="," item="item" index="index">
            (
            #{item.id,jdbcType=BIGINT},
            #{item.umsAdminId,jdbcType=BIGINT},
            #{item.umsRoleId,jdbcType=BIGINT}
            )
        </foreach>
    </insert>
</mapper>