body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 更改字体 */
    margin: 0;
}

#pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111; /* 深色背景 */
    padding: 10px;
    color: white;
}

.logo {
    display: flex; /* 新增 */
    align-items: center; /* 新增 */
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.searchBox {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: auto; /* 将搜索框推到右边 */
    flex-grow: 0.25; /* 占据页面宽度的1/4 */
}

.searchIcon,
.questionIcon {
    color: white;
    margin-right: 5px;
    font-weight: bold; /* 加粗 */
}

.searchBox input {
    border: none;
    background-color: #fff; /* 白色背景 */
    border-radius: 15px; /* 圆角 */
    padding: 12px; /* 调整内边距 */
    margin-right: 5px;
    color: #333; /* 文字颜色 */
    font-weight: bold; /* 加粗 */
    font-size: 14px; /* 调整字体大小 */
    flex-grow: 1; /* 占据剩余空间 */
    outline: none; /* 去除输入框的默认外边框 */
    vertical-align: middle; /* 上下居中 */
}

.userSection {
    display: flex;
    align-items: center;
}

.userProfile img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%; /* 将头像变成圆形 */
}
.userProfile span {
    vertical-align: middle;
    font-weight: bold;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333; /* 深色背景 */
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold; /* 加粗 */
    text-align: center; /* 文字水平居中 */
}

.dropdown-content a:hover {
    background-color: #444; /* 稍微浅一些的深色 */
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-weight: bold; /* 加粗 */
}
